nav, header, main, footer, section, article {
	padding: 10px;
}

#root {
	min-height: 100vh;

	display: grid;
	grid-template-areas:
	"nav header"
	"nav main"
	"nav footer";
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 1fr 8.5fr 0.5fr;
}

nav {
	grid-area: nav;
}
header {
	border: 1px solid red;
	grid-area: header;
}
main {
	border: 1px solid yellow;
	grid-area: main;
}
footer {
	border: 1px solid blue;
	grid-area: footer;
}
